
/* Your CSS Code here. */
form{
	border:1px solid black;
	padding:40px 50px;
	margin-left:200px;
	margin-right:200px;
	position:absolute;
	align-items:center;
	justify-content:center;
	display:grid
}